body {
    height: 100vh;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    overflow-y: hidden;
}

img {
    width: 100px;
    height: 100px;
}

nav {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.items {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

li {
    width: fit-content;
    overflow: hidden;
}

.items li a {
    text-decoration: none;
    color: #fff;
    font-size: x-large;
}

li::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    margin: 2px;
    background-color: lightgreen;
    transform: translateX(-200%);
    transition: 0.5s ease-out;
}

li:hover::after{
    transform: translateX(0%);
}